@{
    ViewBag.Title = "Confirm Email";
}


<div class="class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-3 column">
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
